#——————————————————> SENTUS CONFIGURATION FILE <————————————————————————————
# 
# PROJECT:   SBPT 
# TOOL:      SENTUS 
# PURPOSE:   Configuration file 
# FILE:      sentus.cfg 
# VERSION:   1.0
# COMPANY:   GNSS Academy 
#
#——————————————————> SENTUS CONFIGURATION FILE <————————————————————————————


#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#———————————— SCENARIO PARAMETERS ————————————————————————————————————————————
#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

# Scenario Start Date [GPS time in Calendar format]
#--------------------------------------------------------------------
# Date format DD/MM/YYYY (e.g: 01/09/2019)
#--------------------------------------------------------------------
INI_DATE 11/01/2024
END_DATE 11/01/2024

# Scenario Sampling Rate [SECONDS]
#--------------------------------------------------------------------
SAMPLING_RATE  10

# Navigation Solution Selection
#-----------------------------------------------
# Three Options:
#       GPS: GPS
#       GAL: Galileo
#       GPSGAL: GPS+Galileo
#-----------------------------------------------
NAV_SOLUTION GPS

# Preprocessing outputs selection [0:OFF|1:ON]
#--------------------------------------------------------------------
PREPRO_OUT  0

# Corrected outputs selection [0:OFF|1:ON]
#--------------------------------------------------------------------
CORR_OUT    0

# PVT outputs selection [0:OFF|1:ON]
#--------------------------------------------------------------------
PVT_OUT    0

# PERF outputs selection [0:OFF|1:ON]
#--------------------------------------------------------------------
PERF_OUT    1

#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#————————————––––––––––––––  RCVR PARAMETERS —————–———————————————————————————
#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

# Satellite ACRONYM
#-----------------------------------------------
SAT_ACRONYM  s6an

# RCVR mask Angle [DEG]
#-----------------------------------------------
RCVR_MASK  5


#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#————————————–––––– PREPROCESSING PARAMETERS —————–———————————————————————————
#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

#-----------------------------------------------
# Checking Measurements Validation Thresholds
#-----------------------------------------------

# Minimum Carrier To Noise Ratio
#------------------------------
# p1: Check C/No [0:OFF|1:ON]
# p2: C/No Threshold [dB-Hz]
#----------------------------------
MIN_SNR  1  20

# Check Cycle Slips 
#----------------------------------------
# p1: Check CS [0:OFF|1:ON]
# p2: CS threshold [cycles]
# p3: CS number of epochs
# p4: CS number of points to fit polynom
# p5: CS poly-fit degree
#----------------------------------------
CYCLE_SLIPS  1  0.5  3  7  2

# Check Pseudo-Range Measurement Out of Range
#-------------------------------------------
# p1: Check PSR Range [0:OFF|1:ON]
# p2: Max. Range [m]  (Default:330000000)
#-----------------------------------------------
MAX_PSR_OUTRNG  1  330000000.0

# Check Code Rate
#-----------------------------------------------
# p1: Check Code Rate [0:OFF|1:ON]
# p2: Max. Code Rate [m/s]  (Default: 8000)
#-----------------------------------------------
MAX_CODE_RATE   1   8000.0

# Check Code Rate Step
#-----------------------------------------------
# p1: Check Code Rate Step [0:OFF|1:ON]
# p2: Max. Code Rate Step [m/s**2]  (Default: 12)
#-----------------------------------------------
MAX_CODE_RATE_STEP   1   12.0

# Check Phase Measurement Step 
#-----------------------------------------------
# p1: Check Phase Rate [0:OFF|1:ON]
# p2: Max. Phase Rate [m/s]  (Default: 8000)
#-----------------------------------------------
MAX_PHASE_RATE   1    8000.0

# Check Phase Rate Step 
#-----------------------------------------------
# p1: Check Phase Rate Step [0:OFF|1:ON]
# p2: Max. Phase Rate Step [m/s**2]  (Default: 12)
#-----------------------------------------------
MAX_PHASE_RATE_STEP     1    12.0

# Max. allowed DATA GAP [s]
# p1: Check DATA GAP [0:OFF|1:ON]
# p2: Max. gap [s]
#------------------------------------------
MAX_DATA_GAP  1  10

#-----------------------------------------------
# Hatch Filter Smoothing Parameters
#-----------------------------------------------

# Hatch filter Smoothing time [s]
#----------------------------------
HATCH_TIME    100

# Hatch filter Steady State factor
#----------------------------------
HATCH_STATE_F  0


#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#—————————————————–—  CORRECTIONS PARAMETERS —————–———————————————————————————
#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

# LEO CoM position in SRF [m]
# p1: X coordinate
# p2: Y coordinate
# p3: Z coordinate
#-----------------------------------------------
LEO_COM_POS  1.53300  -0.00700  0.03700

# LEO ARP position in SRF [m]
# p1: X coordinate
# p2: Y coordinate
# p3: Z coordinate
#-----------------------------------------------
LEO_ARP_POS  2.4748  0.0001  -1.0803

# LEO GPS PCO in SRF [m]
# p1: X coordinate
# p2: Y coordinate
# p3: Z coordinate
#-----------------------------------------------
LEO_PCO_GPS  0  0  0.075

# LEO Galileo PCO in SRF [m]
# p1: X coordinate
# p2: Y coordinate
# p3: Z coordinate
#-----------------------------------------------
LEO_PCO_GAL  0  0  0.093

# Satellite APO file
#-----------------------------------------------
SAT_APO_FILE  SAT_APO_igs20_JAN24.dat

# Satellite Signal Biases file
#-----------------------------------------------
SAT_BIA_FILE  SAT_BIA_CODE_JAN24.dat

# GPS satellites UERE [m]
#----------------------------------
GPS_UERE  1.0

# Galileo satellites UERE [m]
#----------------------------------
GAL_UERE  0.8

#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#————————————  RCVR PVT ALGORITHM PARAMETERS —————–———————————————————————————
#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

# Max. Number of iterations for Navigation Solution
#----------------------------------------------------
MAX_LSQ_ITER 100

# Maximum PDOP Threshold for Solution [m]
#-----------------------------------------------
PDOP_MAX 1000.0

#—————————————————————> END OF SENTUS CONFIGURATION FILE <———————————————————––———
